@charset "UTF-8";

@media screen and (max-width: 768px){
    * {
        margin: 0px;
        padding: 0px;
    }   
    section#principal{
        width: 550px;
        flex-flow: column nowrap;  
        align-items: center;
        text-align: justify; 
        
        
    }
    article#social {
        flex-direction: row;
    }
    article#scroll {
        writing-mode: horizontal-tb;
        /* text-orientation: upright;  */
        font-size: 24px; /* Tamanho da fonte */  
    }    
    section#sec {
        height: 1420px;
        width: 550px;
        display: flex;
        flex-flow: column nowrap;  
        align-items: center;
        text-align: justify; 
    }   
    article#conteudo {
        width: 400px;
        align-self: center;
        font-size: 15px;  
        padding: 20px;  
    } 
    
    article#img > img {
        height: 500px;
        width: 370px;
    } 
    article#conteudo > a > input {
        margin-left: 60px;
        margin-top: 40px;
    }
    
    section#skill {
        height: 980px;
        width: 550px;
        padding: 10px;       
        flex-flow: column wrap;
        display: flex;
        align-items: center;
        text-align: justify;        
    }
    section#skill h2{
        text-align: center;
    }
    p#dev::before, p#dev::after  {
        content: ''; /* Adiciona o conteúdo de traço */
        padding: 0 10px; /* Espaçamento entre o traço e o texto */
        margin: 0px;
    }
    section#final {
        width: 550px;
        display: flex;
        justify-content: center;
        text-align: justify; 
    }
    footer {
        width: 550px;
        text-align: center;
        background-color: black;
        color: white;        
    }
} 