@charset "UTF-8";

@media screen and (max-width: 768px){
    * {
        margin: 0px;
        padding: 0px;
    }   
    section#principal{
        min-width: 300px;
    }
    section#sec {
        height: 1420px;
        min-width: 300px;
        display: flex;
        flex-flow: column nowrap;  
        align-items: center;
        text-align: justify; 
    }   
    article#conteudo {
        width: 400px;
        align-self: center;
        font-size: 15px;  
        padding: 20px;  
    } 
    
    article#img > img {
        height: 500px;
        width: 370px;
    } 
    article#conteudo > a > input {
        margin-left: 60px;
        margin-top: 40px;
    }
    
    section#skill {
        height: 980px;
        min-width: 300px; 
        padding: 10px;       
        flex-flow: column wrap;
        display: flex;
        align-items: center;
        text-align: justify;        
    }
    section#skill h2{
        text-align: center;
    }
    p#dev::before, p#dev::after  {
        content: ''; /* Adiciona o conteúdo de traço */
        padding: 0 10px; /* Espaçamento entre o traço e o texto */
        margin: 0px;
    }
} 