@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-style: normal;
}
body {
    width: 100vw;
}
section#principal {
    background-repeat: no-repeat;
    height: 920px;
    width: 100vw;
    background-image: url(Imagens/jakob-owens-uWbRcJSJLV8-unsplash\ 2.png);
    background-position: center;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    
}
article#social, article#perfil, article#scroll{
    align-self: center;
}
article#social {
    display: flex;
    flex-direction: column;
    padding: 100px;
    font-size: 24px;
} 
article#scroll {
    writing-mode: vertical-rl;
    /* text-orientation: upright;  */
    padding: 100px; 
    font-size: 24px; /* Tamanho da fonte */    
}
article#scroll > a {
    text-decoration: none;
    color: black;
}

article#social > a {
    padding: 5px;
    color: black;
}
article#perfil {
    text-align: center;
} 
article#perfil > p {
    padding: 5px;
    font-size: 15px;
}
article#perfil > img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
p#dev::before, p#dev::after  {
    content: '---'; /* Adiciona o conteúdo de traço */
    padding: 0 10px; /* Espaçamento entre o traço e o texto */
    margin: 0px;

}
section#sec {
    background-repeat: no-repeat;
    height: 920px;
    width: 100vw;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    padding: 100px;
    
}
article#img > img {
height: 650px;
width: 500px;
border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
article#conteudo {
    width: 700px;
    align-self: center;
    font-size: 15px;
}
article#conteudo > p {
    padding: 10px;
    text-align: justify;
}
article#conteudo > p#nome {
    padding-top: 20px;
}
article#conteudo > a > input{
    height: 50px;
    width: 230px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 200px;
    cursor: pointer
}
article#conteudo > a > input:hover {
    background-color: white;
    color: black;
} 
